allow qti_init_shell baseband_prop:property_service set;
allow qti_init_shell modem_device:blk_file r_file_perms;
allow qti_init_shell rootfs:file execute;
